* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  /*------ ROOT COLORS ------*/
  --gray: #272a31;
  --orange: #ec5242;
  --lightgray: #d3d3d3;
}

body {
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--lightgray);
}

.no-scroll {
  overflow: hidden;
}

/* ------------ Main Containers ------------*/

.home-main{
  width: 90vw;
  margin: auto;
}

.event-main{
  width: 90vw;
  margin: auto;
  color: var(--lightgray);
}

.games-main{
  width: 90vw;
  margin: auto;
}

.about-main{
  width: 90vw;
  margin: auto;
}

.logo-main{
  width: 90vw;
  margin: auto;
}

.past_events-main{
  width: 90vw;
  margin: auto;
}

.partners-main{
  width: 90vw;
  margin: auto;
}

.footer-main{
  width: 90vw;
  margin: auto;
}

/* ------------ Main Sections Divs ------------*/

/* ------ HOME ------*/
.home-parragraf{
  BORDER: 2.5px white solid;
  border-radius: 3px;
  color: var(--gray);
}

#home-parragraf{
  margin: 3vh 5vw 3vh 4vw;
}

/* ------ MAIN EVENT ------*/
.event-container{
  display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.main_event-section{
  background-color: var(--gray);
  padding-bottom: 2vh;
  padding-top: 1vh;
}

.event-title{
  text-align: center;
}

.event-act{
  display: flex;
  gap: 5vw;
  background: rgba(221, 221, 221, .05);
}

.event-img{
  width: 30vw;
}

.event-parragraf{
  width: 70vw;
  font-size: 3.5vw;
}

.event-button{
  text-align: center;
    margin: 5vh 2vh 4vh 2vh;
}

.event-button a{
  padding: 5vw;
    background-color: var(--orange);
    text-decoration: none;
    color: var(--lightgray);
}